.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgba(201, 9, 9, 0.692);
}

.main-container a {
  display: flex;
  margin: 30px;
  width: 50%;
  border: 1px rgb(206, 206, 206) solid;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.692);
  box-shadow: 3px 3px 3px rgba(22, 22, 22, 0.788);
}

.main-container img {
  width: 60%;
}

.project-child {
  padding: 10px;
  letter-spacing: 1px;
}

.projects-img {
  width: 35%;
  /* border-radius: 10px 0 0 10px; */
}

.main-content-div a {
  width: 100%;
}

.description-div h3 {
  color: rgba(192, 0, 0, 0.733);
}

.description-div p {
  color: rgb(138, 138, 138);
}
